server/ClientTest/Service References/ProjectParticipations/ProjectParticipationsService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/CRMService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CRMService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57098/ProjectParticipationsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfProjectParticipation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProjectParticipation" nillable="true" type="tns:ProjectParticipation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProjectParticipation" nillable="true" type="tns:ArrayOfProjectParticipation" />
  <xs:complexType name="ProjectParticipation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Allocations" nillable="true" type="tns:ArrayOfEmployee" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProjectId" type="ser:guid" />
      <xs:element minOccurs="0" name="ProjectParticipationId" type="ser:guid" />
      <xs:element minOccurs="0" name="ProjectStage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProjectParticipation" nillable="true" type="tns:ProjectParticipation" />
  <xs:complexType name="ArrayOfEmployee">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Employee" nillable="true" type="tns:Employee" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployee" nillable="true" type="tns:ArrayOfEmployee" />
  <xs:complexType name="Employee">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmployeeId" type="ser:guid" />
      <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Manager" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Office" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Employee" nillable="true" type="tns:Employee" />
</xs:schema>