server/ClientTest/Service References/ProjectParticipations/ProjectParticipationsService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57098/ProjectParticipationsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CRMService.Model" />
  <xs:element name="GetProjectParticipation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectParticipationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CRMService.Model" minOccurs="0" name="GetProjectParticipationResult" nillable="true" type="q1:ArrayOfProjectParticipation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>